<h1>Hola mundo</h1>

<ul>
    <li>
        <a routerLink="auth/login">auth/login</a>
    </li>
    <li>
        <a routerLink="auth/register">auth/register</a>
    </li>
    <li>
        <a routerLink="heroes/list">heroes/list</a>
    </li>
    <li>
        <a routerLink="heroes/create">heroes/create</a>
    </li>
    <li>
        <a routerLink="heroes/edit/123">heroes/edit/123</a>
    </li>
    <li>
        <a routerLink="heroes/search">heroes/search</a>
    </li>
    <li>
        <a routerLink="heroes/321">heroes/321</a>
    </li>
    <li>
        <a routerLink="404">404</a>
    </li>
</ul>

<router-outlet></router-outlet>
